/* typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
h1 {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}
h2 {
    font-weight: bold;
    font-size: 1.5rem;
}
h3 {
    font-weight: bold;
    font-size: 1rem;
}
h4 {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
p{
    font-size: 0.9rem;
    line-height: 150%;
    margin: 15px;
}

/* Defaults */
body {
    margin: 0;
    font-family: 'lato', sans-serif;
}

/* varibles */
:root {
    /* colors */
    --primaryColor: #23377F;
    --secondaryColor: #E31E24;
    --offWhite: #EEEDE8;
    --primaryTransparent: rgba(35, 55, 127, 0.54);

    /* spacing */
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}

/* top navigation */
nav {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    align-items: center;
    background-color: var(--primaryColor);
    min-height: 75px;
}

.current:not(:first-child) {
    background-color: var(--secondaryColor);
}

nav a {
    display: ;
    color: white;
    text-decoration: none;
}

/* Ashihara */ 

.hvaderashi {
    margin: 15px ;
}
.kanchoimg img{
    width: 100%;
    height: auto ;
}

.hvaderashi p {
    margin: 0;
}
.citat {
    background-color: beige;
    padding: 5px;
}
.citatK {
    font-style: italic;
    text-align: center;
}

/* Værdier */ 
.maalsatning{
    background-color: #23377F ;
    color: white;
    text-align: center;
    padding: 20px;
}

.maalsatningikon{
    display: flex;
 margin: 15px;
}

.maalsatning a{
    margin: 30px;
    color: white;
    text-align: center;
}


@media screen (min-width:700px);{
main{
    display: grid;
    grid-template-columns: (1fr 1fr);
    grid-template-rows: auto auto;
}

.hvaderashi{
    grid-column: 1 / span 2;
}

.kanchoimg{
    grid-column: 3 / span 2 ;
}
}



/* section{
  background-color:var(--paleOrange);
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  grid-gap: 1.5rem;
  padding: 70px;
  margin: auto; 
  width: auto; 
  margin-bottom: 50px;
  border-radius: 10px;
}.child1 {
  grid-column: 1 / span 1; 
  grid-row: 1 / span 1; 
}

.child2 {
  grid-column: 2 / span 1; 
  grid-row: 1 / span 1; 
}