/* Ashihara */ 
.hvaderashi {
    margin: 15px ;

}
.kanchoimg img{
    width: 100%;
    height: auto;
}
.hvaderashi p {
    margin: 0;
}
.citat {
    background-color: beige;
    padding: 5px;
}
.citatK {
    font-style: italic;
    text-align: center;
}

/* Værdier ikoner */ 
.maalsatning{
    background-color: #23377F ;
    color: white;
    text-align: center;
    padding: 20px;
}
.maalsatningikon{
    display: flex;
    margin: 15px;
}
.maalsatning a{
    margin: 30px;
    color: white;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        width: 1200px;
        grid-gap: 2rem;
        padding: 70px;
        margin: auto; 
    }
    .hvaderashi {
        grid-columns: 1 / span 1;
        grid-row: 1 / span 1; 
    }
    .kanchoimg {
    grid-column: 2 / span 1; 
      grid-row: 1 / span 2;
    }
    .kanchoimg img { 
        width: 100%;
        height: 31rem;
        object-fit: cover;
    }
    .hvaderashi2 {
        grid-column: 1 / span 1; 
          grid-row: 3 / span 2;
        }


    .maalsatning{
       grid-columns: 1 / span 1;
       grid-rows: 2 / span 1;
    }
    .citat{
        height: 5rem;
        grid-column: 1 / span 1; 
          grid-row: 2 / span 2;
    }
}