:root {
    /* colors */
    --primaryColor: #23377F;
    --secondaryColor: #E31E24;
    --offWhite: #EEEDE8;
    --primaryTransparent: rgba(35, 55, 127, 0.54);

    /* spacing */
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}
/* Ashihara */ 
.hvaderashi {
    margin: 25px ;
    margin-bottom: var(--generalSpacing);
}

.hvaderashi h2 {
    margin: 25px 0 25px;
}



.kanchoimg img{
    width: 100%;
    object-fit: cover;
    margin-bottom: -25px;
}

.kancho {
    font-size: 10px;
    margin: 35px 25px 50px;
}


.hvaderashi p {
    margin: 0;

}
.citat {
    background-color: beige;
    padding: 5px;
    /* max-width: 40vw; */
}
.citatK {
    font-style: italic;
    text-align: center;
}

/* Værdier ikoner */ 
.maalsatning{
    background-color: #23377F ;
    color: white;
    text-align: center;
    padding: 20px;
}
.maalsatningikon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 25px;
}

.maalsatningikon p {
    font-size: 0.8rem;
    
}
.maalsatning a{
    margin: 30px;
    color: white;
    text-align: center;
}
h3.rM{
    margin-top: 0;
}

@media screen and (min-width: 400px) {
.kanchoimg img {
    height: 25rem;
}


}

@media screen and (min-width: 500px) {
    .kanchoimg img {
        height: 30rem;
    }
    
}

@media screen and (min-width: 600px) {
    .kanchoimg img {

        height: 35rem;

    }
}


@media screen and (min-width: 1000px) {
    .gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    width: 90%;
    grid-gap: 2rem;
    padding: var(--generalSpacing);
    margin: auto;
    }

    .hvaderashi {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin: 25px ;
    margin-bottom: 0;
    }
    

    .kanchoimg {
    grid-row: 1 / span 2;
    }

    .kanchoimg img { 
    grid-column: 2 / span 1; 
    grid-row: 1 / span 2;
    width: 100%;
    height: 32rem;
    object-fit: cover;
    padding: 0;
    margin-top: 40px;
    }
    .kancho {
    margin: 25px 0 0;

    }
    
    .hvaderashi2 {
      grid-column: 1 / span 1; 
      grid-row: 3 / span 2;
      margin-top: var(--generalSpacing) ;

    }


    .hvaderashi2 p {
        margin-top: 3rem;
    }
 
 
    .citat{
        height: 5rem;
        grid-column: 1 / span 1; 
        grid-row: 2 / span 2;
    }

    .maalsatning p{
        font-size: 1rem;
    }
}


@media screen and (min-width: 1300px) {
    .hvaderashi2 p {
        margin-top: 2rem;
    }
}


@media screen and (min-width: 1400px) {
    .citat {
        margin-top: 1rem;
    }

    .hvaderashi2 p {
        margin-top: -1rem;
    }

 
}
@media screen and (max-width: 500px){
    .maalsatningikon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 25px;
}
}
