/* varibles */
:root {
    /* colors */
    --primaryColor: #23377F;
    --secondaryColor: #E31E24;
    --offWhite: #EEEDE8;
    --primaryTransparent: rgba(35, 55, 127, 0.54);

    /* spacing */
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}

/*styling main*/

.intro {
    margin-inline: var(--sectionSpacing);
}

#accordion {
    padding: 0%;
    margin: 0 auto;
    max-width: 600px;

}

#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 25px;
    background: var(--offWhite);
    padding: 25px;
}

#accordion li label h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0;
}

#accordion li label h3 .number {
    color: var(--primaryColor);
    font-size: 1.8rem;
}

#accordion li label span {
    color: var(--primaryColor);
}

#accordion label+input[type="checkbox"] {
    display: none;
}

#accordion .content {
    max-height: 0;
    max-width: 100%;
    overflow: hidden;
}

#accordion .content p {
    margin-bottom: 0;
    margin-top: 25px;
}

#accordion label+input[type="checkbox"]:checked+.content {
    max-height: 400px;
}