/* varibles */
:root {
    /* colors */
    --primaryColor: #23377F;
    --secondaryColor: #E31E24;
    --offWhite: #EEEDE8;
    --primaryTransparent: rgba(35, 55, 127, 0.54);

    /* spacing */
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}

/*styling main*/

.intro {
    margin-inline: var(--sectionSpacing);
}

#accordion {
    padding: 0%;
    max-width: 100%;
    margin: var(--generalSpacing);

}



#accordion li {
    list-style: none;
    width: 85%;
    margin-bottom: 25px;
    background: var(--offWhite);
    padding: 25px;
}

#accordion li label h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0;
    text-align: center;
    font-size: 13px;
}

#accordion li label h3 .number {
    color: var(--primaryColor);
    font-size: 1.5rem;
}

#accordion li label span {
    color: var(--primaryColor);
}

#accordion label+input[type="checkbox"] {
    display: none;
}

#accordion .content {
    max-height: 0;
    max-width: 100%;
    overflow: hidden;
}

#accordion .content p {
    margin-bottom: 0;
    margin-top: 25px;
}

#accordion label+input[type="checkbox"]:checked+.content {
    max-height: 400px;
}

.number {
    margin-left: 5px;
}

@media screen and (min-width: 400px) {
    #accordion li label h3 .number  {
        font-size: 2rem
    }

    #accordion li label h3  {
        font-size: 15px
    }
}
@media screen and (min-width: 600px) {
    #accordion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

    }
    #accordion li {
        width: 70%;

    }

    #accordion li label h3  {
        font-size: 12px;
    }

    #accordion li label h3 .number  {
        font-size: 1.5rem
    }

    #accordion li label i {
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) {
    .intro {
        padding: 0 50px 0;
    }
}

@media screen and (min-width: 1000px) {
   
    #accordion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}