/* typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
h1{
    font-weight: bold;
    font-size: 2rem;
    color: white;
}
h2{
    font-weight: bold;
    font-size: 1.5rem;
}
h3{
    font-weight: bold;
    font-size: 1rem;
}
h4{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
p{
    font-size: 0.9rem;
    line-height: 150%;
}

/* Defaults */
body{
    margin: 0;
    font-family: 'lato', sans-serif;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6, p, ol {
    margin: 25px;
}

/* varibles */
:root{
    /* colors */
    --primaryColor: #23377F;
    --secondaryColor: #E31E24;
    --offWhite: #EEEDE8;

    /* spacing */
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}

/* top navigation */
.dT{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    align-items: center;
    background-color: var(--primaryColor);
    min-height: 75px;
    gap: 10px;
    height: 10vh;
}
nav.dT a:not(.fP, .profile){
    font-size: 0.7rem;
}
.mB{
    display: none;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: var(--primaryColor);
    min-height: 75px;
    gap: 10px;
    height: 10vh;
}

.menu{
    height: 5vh;
    justify-self: end;
    margin-left: 0;
    margin-right: var(--generalSpacing);
}
.mB img{
    height: 5vh;
    max-width: unset;
    margin-left: var(--generalSpacing);
}
.current:not(:first-child){
    font-weight: bold;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
}
nav img{
    max-width: 10vw;
    max-height: 10vh;
}
.fP{
    padding-left: var(--generalSpacing);
    margin-right: 0;
}
a:hover{
    transition: .3s;
    font-weight: bold;
}
.profile img{
    height: 2vh; 
}
section:not(.banner, .fEP){
    margin-top: var(--sectionSpacing);
}
footer{
    margin-top: 0;
}

/* button styling */
button{
    border: none;
    border-radius: 50px;
    background-color: var(--secondaryColor);
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
}

/* hero banner */
.banner img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    overflow: hidden;
}
.overlayContainerMain{
    position: relative;
}
.overlayContainerMain::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 97%;
    background-color: rgba(35, 55, 127, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlayContainerMain h1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* focus entry points */
.focusEPLine{
    display: flex;
    flex-direction: column;
    gap: var(--generalSpacing);
    justify-content: space-between;
}
.focusEP{
    position: relative;
}
.focusEP img{
    object-fit: cover;
    height: 200px;
    width: 30vw;
    margin-bottom: var(--sectionSpacing);
}
.overlayContainer{
    position: relative;
}
.overlayContainer::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 55, 127, 0.54);
}
.overlayContainer > img{
    display: block;
    width: 100%;
}
.overlayContainer > h4{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    transform: translate(-50%, -50%);
    text-align: center;
}
.rM{
    text-align: center;
    margin-bottom: var(--generalSpacing);
    padding-top: var(--generalSpacing);
}
.focusEPLine{
    margin-left: 5vw;
    margin-right: 5vw;
}
.focusEP h4{
    margin-left: 0;
}
article.focusEP{
    width: 100%;
}
.focusEP:hover{
    .overlayContainer::before{
        display: none;
    }
}
.fEP{
    background-color: var(--offWhite);
    margin-top: 0;
}

/* icons */
.icons{
    height: 3rem;
    width: 3rem;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background: #23377F;
    color: white;
}
footer h2 {
    grid-column: 1 / -1;
}
.footerContact {
    grid-column: 1 / -1;
}
.footerAdress, .footerContact {
    margin-left: 20px;
    font-size: 16px;
}
.footerAdress span, .footerContact span {
    font-weight: 900;
}
.footerAdress, .footerLogo {
    gap: 25px;
}
.footerLogo {
    object-fit: contain;
    margin: auto;
    height: 120px;
    width: 120px;
 
}
.footerSocials {
    grid-row: 4 / -1;
    grid-column: 1 / -1;
    justify-self: center;
}
.footerSocials img {
    height: 30px;
    margin: 15px;
}

/* media queries */
@media screen and (min-width: 800px) {
    footer {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    footer h2 {
        grid-column: 2 / 9;
        margin-bottom: 40px;
    }
    .footerLogo {
        grid-row: 2 / 3;
        grid-column: 10 / 11;
        margin: 0;
    }
    .footerAdress {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .footerSocials {
        display: flex;
        flex-direction: column;
        grid-column: 11 / 12;
        grid-row: 3 / -1;
        justify-self: left;
        padding-left: 20px;
      }
      .footerSocials i {
        margin-bottom: 20px;
        margin: 0;
        padding: 12px;
        font-size: 2rem;
      }
      .footerContact {
        grid-column: 3 / 9;
        grid-row: 2 / 3;
        margin-left: 100px;
      }
      .footerAdress, .footerContact, .footerLogo {
        margin-bottom: 70px;
      }
}
@media screen and (min-width: 900px){
    .focusEPLine{
        flex-direction: row;
    }
}
@media screen and (max-width: 800px){
    .dT{
        display: none;
    }
    .mB{
        display: grid;
    }
}
@media screen and (min-width: 800px) {
    footer {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}