:root{
    /* colors */
    --primaryColor: #23377F;
    --secondaryColor: #E31E24;
    --offWhite: #EEEDE8;

    /* spacing */
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}

.container{
    display: flex;
    flex-direction: column;
}
.c3{
    max-width: 100%;
}
h2{
    text-align: start;
    padding-top: var(--generalSpacing);
}
.iT{
    width: 50vw;
    justify-content: center;
    margin-left: 50%;
    transform: translate(-50%);
}
.c2{
    max-width: 100%;
}
.note{
    margin-top: 40px;
}
article p{
    line-height: 1rem;
}
.even{
    background-color: var(--offWhite);
}
ul li{
    margin-top: var(--generalSpacing);
}
.karateBelts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    
}
.karateBelts li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
    height: 35px;
    list-style-type: none;
}
.karateBelts li:nth-child(1), .karateBelts li:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.karateBelts li:nth-child(1) {
    border: 2px solid black;
    color: black;
    height: 30px;
}
.karateBelts li:nth-child(2) {
    background: #E31E24;

}
.karateBelts li:nth-child(3) {
    background: var(--primaryColor);

}
.karateBelts li:nth-child(4) {
    background: #FFCF4D;

}
.karateBelts li:nth-child(5) {
    background: #1B8A0F;

}
.karateBelts li:nth-child(6) {
    background: #865327;

}
.karateBelts li:nth-child(7) {
    background: black;
    grid-column: 2 / 2;
}

.instrukter{
    padding-top: 30px;
}
.instrukterSection h2, .instrukterSection h3{
    text-align: center;
}
.instrukter h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 0; 
}
.instrukter h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 3rem;
}
.instrukter h4, .instrukter p{
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}
.instrukter div{
    margin-bottom: var(--generalSpacing);
}
.instrukter img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: auto;
    display: block;
}

footer h2{
    text-align: start;
}
@media screen and (min-width: 600px) {
    .instrukter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .instrukter h2 {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1000px) {
    .instrukter  {
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        justify-content: center;
    }
    @media screen and (min-width: 700px){
        .container{
            flex-direction: row;
            justify-content: space-between;
        }
        .c3{
            max-width: 30%;
        }
        .c2{
            max-width: 50%;
        }
    }
}
@media screen and (min-width: 800px) {
    .karateBelts {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 25px

    }
    .karateBelts li:nth-child(1) {
        font-size: 7.5px;
    }
    .karateBelts li:nth-child(7) {
        grid-column: 7 / 7;

    }
}
@media screen and (min-width: 900px){
    .karateBelts li:nth-child(1) {
        font-size: 10px;
    }
}