/* spacing */
:root{
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}

/* article container */
.container{
    display: flex;
    gap: var(--generalSpacing);
}
article:not(.focusEP){
    padding-bottom: var(--generalSpacing);
}
article:last-child{
    margin-bottom: 0;
}
.superContainer{
    margin-left: 5vw;
    margin-right: 5vw;
}

/* typography */
h2{
    margin-left: 47px;
}
h3, h4, p{
    color: black;
    font-size: 1rem;
    margin: 0;
    line-height: var(--generalSpacing);
    font-weight: normal;
}
h3{
    font-weight: bold;
}
.pBold{
    font-weight: bold;
}

/* focus entry points correction */
.focusEP h4{
    margin-left: 0;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

/* media queries */
@media screen and (min-width: 800px){
    .superContainer{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
@media screen and (min-width: 1200px){
    .superContainer{
        margin-left: 20vw;
        margin-right: 20vw;
    }
}