:root{
    /* spacing */
    --generalSpacing: 25px;
    --sectionSpacing: 50px;
}
p{
    margin: 0;
}

.container{
    display: flex;
    gap: var(--generalSpacing);
}
article{
    padding-bottom: var(--generalSpacing);
}
h3, h4, p{
    color: black;
    font-size: 1rem;
    margin: 0;
    line-height: var(--generalSpacing);
    font-weight: normal;
}
h3{
    font-weight: bold;
}